{:paths ["src"]
 :deps {cljs-tooling/cljs-tooling {:mvn/version "0.3.0"
                                   ;; :git/url "https://github.com/clojure-emacs/cljs-tooling.git"
                                   ;; :sha "b165c630bffa7faa837a48a22cc0ad3a278aaddb"
                                   }}}

